
#top {
    position: relative;
    background-color: transparent;
    color: white;
    padding: 0px;
    margin: 0px 0px 10px 0px;    
}

#bottom {
    position: relative;
    background-color: #d4e4ef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-shadow: 0.3px 0.3px 0px #036fab;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
    background-image:url('../imagen/imgTest/fondoEmpezar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left_content {
    background-image: url("../imagen/imgTest/fondo1.jpg");
    background-repeat: no-repeat;
    padding: 5px;
    margin-left: 170px;
    background-size: 100% 120%;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #fff;
    font-weight : bold;
    text-decoration: none;
    padding-top: 15%;
    padding-left: 5%;
}

#top a:link:hover, #top a:visited:hover  {
    color: #fff;
    font-weight : bold;
    text-decoration : underline;
    padding-top: 15%;
    padding-left: 5%;
}
.ui-menuitem-link.ui-corner-all{
    height: 40px;
    width: 100px;
    font-size: 18px;

}
.ui-menuitem-link.ui-corner-all.menuHome{
    width: 150px;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8d71e), color-stop(1, #f5c639));
    background:-moz-linear-gradient(top, #e8d71e 5%, #f5c639 100%);
    background:-webkit-linear-gradient(top, #e8d71e 5%, #f5c639 100%);
    background-color:#e8d71e;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.ui-menuitem-link.ui-corner-all.menuHome.ui-state-hover{
    background: #CCCCCC;
    width: 150px;
    margin: 10px;
}
.ui-menuitem-link.ui-corner-all.menuTest{
    width: 150px;
    margin-left: 10px;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5bf3f), color-stop(1, #eb7a09));
    background:-moz-linear-gradient(top, #f5bf3f 5%, #eb7a09 100%);
    background:-webkit-linear-gradient(top, #f5bf3f 5%, #eb7a09 100%);
    background-color:#f5bf3f;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.ui-menuitem-link.ui-corner-all.menuTest.ui-state-hover{
    background: #CCCCCC;
    width: 150px;
    margin: 10px;
}
.ui-menuitem-link.ui-corner-all.menuEntrenar{
    background: darkviolet;
    width: 150px;
    margin-left: 10px;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c738ff), color-stop(1, #8927d9));
    background:-moz-linear-gradient(top, #c738ff 5%, #8927d9 100%);
    background:-webkit-linear-gradient(top, #c738ff 5%, #8927d9 100%);
    background-color:#c738ff;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.ui-menuitem-link.ui-corner-all.menuEntrenar.ui-state-hover{
    background: #CCCCCC;
    width: 150px;
    margin: 10px;
}
#vistaPrincipal\3a j_idt13.botonEmpezar{
    -moz-box-shadow:inset 0px 1px 3px 0px #a68112;
	-webkit-box-shadow:inset 0px 1px 3px 0px #a68112;
	box-shadow:inset 0px 1px 3px 0px #a68112;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c4970f), color-stop(1, #ffaa17));
	background:-moz-linear-gradient(top, #c4970f 5%, #ffaa17 100%);
	background:-webkit-linear-gradient(top, #c4970f 5%, #ffaa17 100%);
	background-color:#c4970f;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #996202;
        width: 20%;
        height: 80px;
        margin-top: 200px;
        font-size: 16px;
        color: #fff;
}
#vistaPrincipal\3a j_idt14.botonMomento{
    -moz-box-shadow:inset 0px 1px 3px 0px #1237a6;
	-webkit-box-shadow:inset 0px 1px 3px 0px #1237a6;
	box-shadow:inset 0px 1px 3px 0px #1237a6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #134bbd), color-stop(1, #0c8cc7));
	background:-moz-linear-gradient(top, #134bbd 5%, #0c8cc7 100%);
	background:-webkit-linear-gradient(top, #134bbd 5%, #0c8cc7 100%);
	background-color:#134bbd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #210399;
        width: 20%;
        height: 80px;
        margin-top: 200px;
        margin-left: 10%;
            font-size: 16px;
            color: #fff;
}
#sesionUsuarioEst{
    position: absolute;
    right: 20px;
    top: 15px;
    color: #ffffff;

}
frmMenuPrincipalEstudiante\3a j_idt17.ui-commandlink.ui-widget:link, frmMenuPrincipalEstudiante\3a j_idt17.ui-commandlink.ui-widget:visited{
    color: lightcoral;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 0px #000000
}
frmMenuPrincipalEstudiante\3a j_idt17.ui-commandlink.ui-widget:link:hover, frmMenuPrincipalEstudiante\3a j_idt17.ui-commandlink.ui-widget:visited:hover  {
    color: #ffffff;
    text-shadow: 0.5px 0.5px 0px #000000
}
#frmEnsenanzaFicha{
    margin-left: 20%;
    margin-right: 20%;
    background: #eee;
    margin-top: 1%;  /*margen superior*/
    margin-bottom: 1%; /*margen inferior*/
    border: 3px #036fab solid;
    padding: 5px; 
    position: inherit;
}
#frmEnsenanzaFichaT1{
    margin-left: 20%;
    margin-right: 20%;
    background: #eee;
    margin-top: 1%;  /*margen superior*/
    margin-bottom: 1%; /*margen inferior*/
    border: 3px #036fab solid;
    padding: 5px; 
    position: inherit;
}

#resultadoEnt{
    margin-left: 20%;
    margin-right: 20%;
    background: #eee;
    margin-top: 1%;  /*margen superior*/
    margin-bottom: 1%; /*margen inferior*/
    border: 3px #036fab solid;
    padding: 5px; 
    position: inherit;
}
#resultadoPregEnt{
    right:  2%;
    left: 60%;
    background: #eee;   
    top: 5%;  /*margen superior*/
    margin-bottom: 2%; /*margen inferior*/
    border: 3px #036fab solid;
    padding: 5px; 
    position: absolute;

}
#btnSiguienteEntrenar{
    position: fixed;
    right: 30%;
    top: 50%;
}
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #036fab;
}
.ui-widget-header{
    border: none;
    text-align: center;
    background: transparent;
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
#frmMostrarTest\3a gridItemsPregunta_content{
    border: none;
    background: transparent;
    color: #4f4f4f;
}

.gridItemsPregunta.ui-widget{
    border:none;
    background: transparent;
    color:#4f4f4f;
    margin-left: 30px;
    margin-right: 50px;
}

.ui-growl {
    top: 45%;
    left: 45%;
}

#dockEstudiante{
    background-color: #ffffff;
}

#left{
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 200px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 220px;
    min-height: 292px; 
}

.ui-dock-container-top{
    position: relative;
    height: 128px;
    text-align: center;
}

.ui-dock-container-lef{
    position: relative;
    height: 128px;
    text-align: center;
}

.imgItem{
    position: inherit;
    padding-left: 0px;
}

.panelStyle{
    width: 80px;
    height: 100px;
    border:none;
    background: #ffffff;
}


.ui-widget-content {
    border:none;
    background: transparent;
    color: #4f4f4f;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}

.ui-panel {
    padding: 0;
}

.ui-panel .ui-panel-content {
    border: 0;
    background: none;
    padding: 0.2em 0.2em;
}
.ui-panel .ui-panel-footer {
    border-width: 1px 0 0;
    margin: -8px 0 0 !important;
    padding: 0em 1em !important;
    text-align: center !important;
    color: #036fab;
    font-weight : bold;

}

.ui-button-text-icon-left .ui-icon.iconEmpezar{
    background: url(../iconos/empezar.ico) no-repeat !important;
    height:100%;
    width:30%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -10%;
}
.ui-button-text-icon-left .ui-icon.iconMomento{
    background: url(../iconos/momento.ico) no-repeat !important;
    height:100%;
    width:30%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -10%;
}
.iconHome{
    background: url(../iconos/home_1.ico) no-repeat !important;
    height:100%;
    width:30%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -6%;
}
.iconTestEst{
    background: url(../iconos/testtema.ico) no-repeat !important;
    height:100%;
    width:30%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -6%;
}
.iconEntrenar{
    background: url(../iconos/entrenar.ico) no-repeat !important;
    height:100%;
    width:30%;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -6%;
}

#dockTest{
    background: transparent;
}
#dockEntrenar{
    background: transparent;
}

.imagen1s{ 
    background: #eee;
    border:#000000;
    border-bottom-width: 2px;  
    margin-bottom:20px;
    font-size: medium;
}

.ui-dashboard-column {
    width:220px;
    line-stacking: exclude-ruby;
}

#mostrarCalificacion{
    position: absolute;
    float: left;
    width: 20%;
    background-color: transparent;
    margin-left: 10%;
    border:none;
}

#mostrarGraphUnidad{
    width: 70%;
    margin-left: 50%;
}
#graphUnidad{
    width: 60%;
    float: left;
    margin-top: -2%;
}
#estadistica{
    width: 100%;
}
#mostrarGraphTema{
    width: 100%;
    float: left;
}

#frmMostrarResultados.panelMostrarResultado{
    width: 100%;
}

.ui-datagrid.ui-widget.itemsPreguntaListen{
    margin-left: 10%;
    margin-bottom: 5%;
}

#iconListenF{
    margin: 5px;
    padding: 4px;
    width: 50px;
    -moz-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    -webkit-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #4e6096;
}
#iconListenF:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
}

#iconListenMD{
    margin: 5px;
    padding: 4px;
    width: 50px;
    -moz-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    -webkit-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    box-shadow:inset 0px 1px 3px 0px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #4e6096;
}

#iconListenMD:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
}

#headerEstudiante{
    width: 100%;
    height: 200px;
    background-image:url('../imagen/imgTest/header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.botonTerminarTest{
    background-image:url('../iconos/botonTerminar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 100px;
    padding-right: 30px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.botonSiguiente{
    background-image:url('../iconos/boton3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 150px;
    height: 100px;
    padding-left: 40px;
    padding-top:15px;
    font-size: 14px;
}